<script type="text/template" id="groupsList-template">
    <h2>Seznam skupin</h2>
    <input class="search form-control" placeholder="Filtr" />

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Předmět</th>
                <th>Den</th>
                <th>Blok</th>
                <th>Týden</th>
                <th>Vyučující</th>
                <th>Vytvořeno</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody class="items-container ">

            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="userGroupsList-template">
    <h2>Skupiny ve kterých jste členem</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Předmět</th>
                <th>Den</th>
                <th>Blok</th>
                <th>Týden</th>
                <th>Vyučující</th>
                <th>Datum vstoupení</th>
                <!--<th>Akce</th>-->
            </tr>
            </thead>
            <tbody class="items-container">

            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="userGroupsListItem-template">
    <td><%=subject%></td>
    <td><%=day%></td>
    <td><%=block%>.</td>
    <td><%=weeks%></td>
    <td><%=teacher.name%> (<a href="mailto:<%=teacher.mail%>"><%=teacher.mail%></a>)</td>
    <td><%=entered%></td>
    <!--<td><a href="#groups/<%=id%>/students/<%=student_id%>/remove" class="leaveGroup btn btn-danger btn-xs" data-cid="<%=cid%>" data-student="<%=student_id%>">opustit skupinu</a></td>-->
</script>

<script type="text/template" id="groupsListItem-template">
    <td class="list-subject"><%=subject%></td>
    <td class="list-day"><%=day%></td>
    <td class="list-block"><%=block%>.</td>
    <td class="list-weeks"><%=weeks%></td>
    <td class="list-teacher"><%=teacher.name%> (<a href="mailto:<%=teacher.mail%>"><%=teacher.mail%></a>)</td>
    <td class="list-created"><%=created%></td>
    <td>
        <a href="#groups/<%=id%>/delete" class="btn btn-xs btn-danger group-delete" data-cid="<%=cid%>">Smazat</a>
        <a href="#groups/<%=id%>" class="btn btn-xs button--default">Zobrazit studenty</a>
    </td>
</script>


<script type="text/template" id="groupsDetail-template">

    <h1>
        <span>Detail skupiny: <%=subject%></span>
    </h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <dt>Den</dt>
                    <dd><%=day%></dd>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <dt>Blok</dt>
                    <dd><%=block%>.</dd>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <dt>Týden</dt>
                    <dd><%=weeks%></dd>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <dt>Vytvořeno</dt>
                    <dd><%=created%></dd>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-xs-12 col-sm-3">
                    <div class="btn btn-block btn-default">Přidat studenty</div>
                </div>
                <div class="col-xs-12 col-sm-3">
                </div>
                <div class="col-xs-12 col-sm-3">
                </div>
                <div class="col-xs-12 col-sm-3">
                </div>
            </div>
        </div>
    </div>

    <h2>Studenti</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Jméno</th>
                <th>E-mail</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody class="students-container">
            </tbody>
        </table>
    </div>
</script>



<script type="text/template" id="addGroupForm-template">

    <h1>Vytvořit novou skupinu</h1>

    <form action="#">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="nova_skupina-subject">Předmět</label>
                    <input type="text" class="form-control" id="nova_skupina-subject" placeholder="___"
                           value="<%=model.subject%>">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="nova_skupina-day">Den</label>
                    <select class="form-control" id="nova_skupina-day">
                        <option value="po">Pondělí</option>
                        <option value="ut">Úterý</option>
                        <option value="st">Středa</option>
                        <option value="ct">Čtvrtek</option>
                        <option value="pa">Pátek</option>
                        <option value="so">Sobota</option>
                        <option value="ne">Neděle</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="nova_skupina-block">Blok</label>
                    <select class="form-control" id="nova_skupina-block">
                        <% _.each([1,2,3,4,5,6,7,8,9,10],function(index) { %>
                        <option value="<%=index%>"
                        <% if(index==model.block){%> selected <%}%> > <%=index%>.</option>
                        <% }); %>

                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="nova_skupina-weeks">Týden</label>
                    <select class="form-control" id="nova_skupina-weeks" value="<%=model.weeks%>">
                        <option value="both">Každý</option>
                        <option value="even">Sudý</option>
                        <option value="odd">Lichý</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-block button--success">Přidat</button>
                </div>
            </div>
        </div>
    </form>


</script>


<script type="text/template" id="groupsDetailStudent-template">
    <td><%=name%></td>
    <td><%=mail%></td>
    <td>
        <a href="#teacher/circles/<%=group_id%>/students/remove/<%=id%>"
           class="btn btn-xs btn-danger remove-student">Odebrat</a>
    </td>
</script>



<script type="text/template" id=select-template">
    <select>
        <% rates.each(function(rate) { %>
            <option value="<%= rate.get('duration') %>"><%= rate.get('duration') %></option>
        <% }); %>
    </select>
</script>