<script type="text/template" id="groupsList-template">
    <h2>Seznam skupin</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Předmět</th>
                <th>Den</th>
                <th>Blok</th>
                <th>Týden</th>
                <th>Vyučující</th>
                <th>Vytvořeno</th>
            </tr>
            </thead>
            <tbody class="groups-container">

            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="groupsListItem-template">
    <td><%=subject%></td>
    <td><%=day%></td>
    <td><%=block%>.</td>
    <td><%=weeks%></td>
    <td><%=teacher.name%> (<a href="mailto:<%=teacher.mail%>"><%=teacher.mail%></a>)</td>
    <td><%=created%></td>
    <td><a href="#groups/<%=id%>" class="btn btn-xs button--default">Spravovat</a></td>
</script>

<script type="text/template" id="groupsListItemStudent-template">
    <td><%=subject%></td>
    <td><%=day%></td>
    <td><%=block%>.</td>
    <td><%=weeks%></td>
    <td><%=teacher.name%> (<a href="mailto:<%=teacher.mail%>"><%=teacher.mail%></a>)</td>
    <td><%=created%></td>
    <td><a href="#groups/<%=id%>" class="btn btn-xs button--default">Spravovat</a></td>
</script>


<script type="text/template" id="groupsDetail-template">

    <h1>Detail skupiny</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <dt>Předmět</dt>
            <dd><%=subject%></dd>
        </div>
        <div class="col-xs-12 col-sm-3">
            <dt>Den</dt>
            <dd><%=day%></dd>
        </div>
        <div class="col-xs-12 col-sm-3">
            <dt>Blok</dt>
            <dd><%=block%>.</dd>
        </div>
        <div class="col-xs-12 col-sm-3">
            <dt>Týden</dt>
            <dd><%=weeks%></dd>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <dt>Vytvořeno</dt>
            <dd><%=created%></dd>
        </div>
    </div>

    <hr>

    <h2>Seznam Studentů</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Jméno</th>
                <th>E-mail</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody class="students-container">
            </tbody>
        </table>
    </div>
</script>


<script type="text/template" id="groupsDetailStudent-template">
    <td><%=name%></td>
    <td><%=mail%></td>
    <td>
        <a href="#teacher/circles/<%=group_id%>/students/remove/<%=id%>"
           class="btn btn-xs btn-danger remove-student">Odebrat</a>
    </td>
</script>
