<script type="text/template" id="homeworkAssigment-template">
    <h1>Přiřazení úkolů</h1>
    <form action="#" id="homeworkAssigment-form" method="post">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label>Student</label>
                    <div id="hw_form-student">
                        <p class="text-info">vyberte studenta ze seznamu</p>
                        <!--<i class="glyphicon glyphicon-user"></i>-->
                        <!--<span>Tomáš Václavík</span>-->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label>
                        <span>úkol</span>
                    </label>
                    <div id="hw_form-task">
                        <p class="text-info">vyberte zadání ze seznamu</p>
                        <!--<a href="#" class="btn btn-block btn-default">zadání 12</a>-->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label for="hw_form-deadline">
                        <span>Terním</span>
                    </label>
                    <div class="input-group date">
                        <input type="text"
                               id="hw_form-deadline"
                               class="form-control datepicker"
                               data-date-format="dd. mm. yyyy">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button class="btn btn-block btn-success">Zadat úkol</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-6">
            <div id="studentsList">
                seznam studentů
            </div>
        </div>
        <div class="col-xs-6">
            <div id="tasksList">
                seznam zadání
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="studentsList-template">
    <h1><%-title%></h1>
    <input class="search form-control" placeholder="Filtr"/>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <th>Jméno</th>
            <th>E-mail</th>
            </thead>
            <tbody class="items-container">

            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="studentsListItem-template">
    <td class="list-name"><%= data.name %></td>
    <td class="list-mail"><%= data.mail %></td>
</script>


<script type="text/template" id="homeworkList-template">
    <h1><%-title%></h1>
    <input class="search form-control" placeholder="Filtr"/>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <th>Název</th>
            <th>Termín</th>
            <th>Skupina</th>
            <!--<th>Validita</th>-->
            <th>Stav</th>
            <!--<th>Akce</th>-->
            </thead>
            <tbody class="items-container">

            </tbody>
        </table>
    </div>
</script>


<script type="text/template" id="homeworkListItem-template">
    <td class="list-name"><a href="#homeworks/<%- data.id %>" class="btn btn-xs button--default" data-id="<%- data.id %>"><%- data.name %></a></td>
    <td class="list-termin"><%= data.deadline %></td>
    <td class="list-predmet"><%= data.subject %> (<%- data.day %>, <%- data.block %>. blok, <%- data.weeks %> týden)</td>
    <!--<td class="list-validity"><%= data.validFormated %></td>-->
    <td class="list-stav"><%= data.status %></td>
</script>


<script type="text/template" id="homeworkTeacherList-template">
    <h1><%-title%></h1>
    <input class="search form-control" placeholder="Filtr"/>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <th>Název</th>
            <th>Student</th>
            <th>Termín</th>
            <th>Validita</th>
            <th>Stav</th>
            <th title="Odevzdaných řešení">Řešení</th>
            <!--<th>Stav</th>-->
            <th>Akce</th>
            </thead>
            <tbody class="items-container">

            </tbody>
        </table>
    </div>
</script>


<script type="text/template" id="homeworkTeacherListItem-template">
    <td class="list-name"><a href="#homeworks/<%- data.id %>" class="btn btn-xs button--default" data-id="<%- data.id %>"><%- data.name %></a></td>
    <td class="list-user"><strong><%- data.u_name %></strong> (<%-data.mail%>)</td>
    <td class="list-termin"><%- data.deadline %></td>
    <td class="list-validity"><%= data.validFormated %></td>
    <td class="list-status"><%= data.status %></td>
    <td class=""><%= data.solutions_count %></td>
    <!--<td class="list-stav">-->
        <!--<div class="badge badge-default"><%= status %></div>-->
    <!--</td>-->
    <td>
        <span class="btn btn-xs btn-danger homework-delete" data-cid="<%-data.cid%>"> <i class="glyphicon glyphicon-trash"></i> Zrušit</span>
    </td>
</script>


<script type="text/template" id="homeworkDetail-template">

    <div class="row">
        <div class="col-xs-12">
            <h1><%- name %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <dl>
                <dt>Termín</dt>
                <dd><%- deadline %></dd>
            </dl>
        </div>
        <div class="col-xs-12 col-sm-4">
            <dl>
                <dt>Stav</dt>
                <dd><%=status %></dd>
            </dl>
        </div>
        <div class="col-xs-12 col-sm-4">
            <dl>
                <dt>Vytvořeno</dt>
                <dd><%-created %></dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Zadání</h2>
            <p><%= description %></p>
        </div>
    </div>
    <h2>Odevzdání úkolu</h2>
    <%if(valid==1) {%>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <span class="btn btn-success btn-block showSubmitSolution"><i class="glyphicon glyphicon-list"></i> Vybrat schéma jako řešení</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <span class="btn btn-default btn-block" id="showSubmitVhdl"><i class="glyphicon glyphicon-upload"></i> Nahrát VHDL soubor</span>
            </div>
        </div>
    <% } else { %>
    <div class="alert alert-warning">
        Úkol nelze momentálně odevzdat, protože nemá nastaveny všechny náležitosti pro simulaci a automatické testování.
        <br>
        Pro vyřešení kontaktujte vyučujícího (úkol není validní).
    </div>
    <% } %>

    <div id="homeworkSchemaModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Zvolte schéma pro odevzdání</h4>
                </div>
                <div class="modal-body" id="homeworkSchemaModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="homeworkSchemaModalSubmit">Odevzdat</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
                </div>
            </div>
        </div>
    </div>

    <div id="homeworkVHDLModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Vyberte soubor s VHDL jako řešení</h4>
                </div>
                <div class="modal-body" id="homeworkVHDLModalBody">
                    <form id="vhdlFileForm">
                        <div class="form-group">
                            <label for="vhdl_file_name">Soubor VHD s řešením</label>
                            <input type="file" class="" id="vhdl_file_name" name="vhdlSchema" accept=".vhd">
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="vhdlSchemaName">Název entity:</label>
                                    <div id="vhdlSchemaName">Nenačtena</div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="vhdlSchemaArch">Architektura:</label>
                                    <div id="vhdlSchemaArch">Nenačtena</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="homeworkVhdlModalSubmit">Nahrát a odevzdat</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/template" id="homeworkTeacherDetail-template">

    <div class="row">
        <div class="col-xs-12">
            <h1><%-title%><%-name%></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <dl>
                        <dt>Student</dt>
                        <dd><%- student_name %></dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <dl>
                        <dt>Termín</dt>
                        <dd><%- deadline %></dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <dl>
                        <dt>Stav</dt>
                        <dd><%=status %></dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <dl>
                        <dt>Vytvořeno</dt>
                        <dd><%- created %></dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Zadání</h2>
                    <p><%= description %></p>
                </div>
            </div>
        </div>
    </div>

</script>


<script type="text/template" id="hwList-template">
    <h1><%-title%></h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <th>Zadání</th>
            <th>Student</th>
            <th>Termín</th>
            <th>Stav</th>
            <th>Akce</th>
            </thead>
            <tbody class="items-container">

            </tbody>
        </table>
    </div>
</script>


<script type="text/template" id="hwListItem-template">
    <td><a href="#homeworks/<%= data.id %>" class="btn btn-xs button--default" data-id="<%= data.id %>"><%- data.name %></a></td>
    <td><a href="mailto:<%= data.student_mail %>"><%- data.student_name %> (<%- data.student_number %>)</a></td>
    <td><%- data.deadline %></td>
    <td>
        <div class="badge badge-default"><%= data.status %></div>
    </td>
    <td>
        <a href="#" class="btn btn-xs btn-danger hw-btn-delete" data-hw-id="<%= data.id %>"><i
                class="glyphicon glyphicon-trash"></i> Smazat</a>
        <!--<a href="#" class="btn btn-xs button&#45;&#45;default hw-btn-open" data-hw-id="<%= id %>">Otevřít</a>-->
    </td>
</script>


<script type="text/template" id="solutionsList-template">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h2><%-title%></h2>
        </div>
        <div class="col-xs-12 col-sm-2">
            <div class="btn btn-default refresh-solutions mt20 pull-right" title="Znovu načíst seznam řešení."><i class="glyphicon glyphicon-refresh"></i></div>
        </div>
    </div>
    <input class="search form-control" placeholder="Filtr"/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <th>Schéma</th>
            <th>Odevzdáno</th>
            <th>Stav</th>
            <th>Výsledek</th>
            <th>Akce</th>
            </thead>
            <tbody class="items-container">

            </tbody>
        </table>
    </div>

    <div id="vhdlViewModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Odevzdané VHDL</h4>
                </div>
                <div class="modal-body" id="">
<pre id="vhdlViewModalBody"></pre>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-success" data-dismiss="modal" id="vhdlViewModalDownload">Stáhnout</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="solutionsListItem-template">
    <td class="list-name">
        <% if(data.schema_id!=null) { %>
        <a href="<?php echo $projectDir; ?>/#schemas/<%-data.schema_id%>" class="btn btn-xs btn-success">
            <i class="glyphicon glyphicon-open"></i>
            <%-data.name%> (<%-data.architecture%>)
        </a>
        <% } else { %>

        <span class="label label-default" title="Načteno ze souboru">
            <i class="glyphicon glyphicon-file"></i>
            Ze souboru (<%-data.entity%>)
        </span>
        <% } %>
    </td>
    <td class="list-created"><%-data.created%></td>
    <td class="list-status"><%=data.status%></td>
    <td class="list-result">
        <% if(data.test_result==0) { %>
            <div class="btn btn-xs btn-danger showErrorMessage" data-cid="<%=data.cid%>" title="Zobrazit chybovou zprávu"><%=data.test_result_str%></div>
        <% } else { %>
            <div class="label label-success"><%=data.test_result_str%></div>
        <% } %>
    </td>
    <!--<td class="list-message"></td>-->
    <td>
        <div class="btn btn-xs btn-default showVHDL" data-cid="<%=data.cid%>" title="Zobrazit odevzdané VHDL">
            <i class="glyphicon glyphicon-file"></i> VHDL
        </div>
        <!--<span class="btn btn-default btn-xs downloadVHDL" data-cid="<%=data.cid%>"><i class="glyphicon glyphicon-download"></i> VHDL</span>-->
        <% if(data.statusTechnical=='waiting') { %>
            <span class="btn btn-danger btn-xs delete-solution" data-cid="<%=data.cid%>"><i class="glyphicon glyphicon-trash"></i> smazat</span>
        <% } %>
    </td>
</script>
