
<script type="text/template" id="homeworkList-template">
	<h2>Seznam úkolů</h2>
	<div class="table-responsive">
		<table class="table">
			<thead>
			<th>Název</th>
			<th>Termín</th>
			<th>Stav</th>
			<th>Akce</th>
			</thead>
			<tbody class="homeworks-container">

			</tbody>
		</table>
	</div>
</script>


<script type="text/template" id="homeworkListItem-template">

	<td><a href="#detail" data-id="<%= id %>"><%= name %></a></td>
	<td><%= deadline %></td>
	<td><%= status %></td>
	<td>
		<a href="#" class="hw-btn-add" data-hw-id="<%= id %>">Přidat řešení</a>
		<a href="#" class="hw-btn-test" data-hw-id="<%= id %>">Otestovat</a>
		<a href="#" class="hw-btn-submit" data-hw-id="<%= id %>">Odevzdat</a>
	</td>

</script>