<script type="text/template" id="tasksList-template">
    <h1><%-title%></h1>
    <input class="search form-control" placeholder="Filtr" />

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Název</th>
                <th>Vytvořeno</th>
                <!--<th>Správné řešení</th>-->
                <!--<th>Testovací soubor</th>-->
                <th>Akce</th>
            </tr>
            </thead>
            <tbody class="items-container list">

            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="tasksListItem-template">
    <td class="list-name"><a href="#tasks/<%=data.id%>" class="btn btn-xs button--default"><%=data.name%></a></td>
    <td class="list-created"><%=data.created%></td>
    <td>
        <button class="btn btn-xs btn-danger task_delete" data-cid="<%=data.cid%>">Smazat</button>
        <a href="#tasks/<%=data.id%>/edit" class="btn btn-xs btn-default">Upravit</a>
    </td>
</script>

<script type="text/template" id="tasksSimple-template">
    <h1><%-title%></h1>
    <input class="search form-control" placeholder="Filtr" />
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Název</th>
                <th>Vytvořeno</th>
            </tr>
            </thead>
            <tbody class="items-container">
            </tbody>
        </table>
    </div>
</script>
<script type="text/template" id="tasksSimpleItem-template">
    <td class="list-name"><%=data.name%></td>
    <td class="list-created"><%=data.created%></td>
</script>


<script type="text/template" id="tasksFilesList-template">
    <div class="row mt10">
        <div class="col-xs-12 col-sm-6">
            <h2><%-title%></h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 pull-right">
            <input class="search form-control mt20" placeholder="Filtr" />
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Soubor</th>
                <th>Typ</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody class="items-container list">

            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="tasksFilesItem-template">
    <td class="list-file"><% if (data.typeOriginal == 'normal') { %><a href="<%=data.file%>" target="_blank" class="btn btn-xs button--default"><%=data.filename%></a><% }else { %><%=data.filename%><% } %></td>
    <td class="list-type"><%=data.type%></td>
    <td>
        <button class="btn btn-xs btn-danger file_delete" data-cid="<%=data.cid%>">Smazat</button>
    </td>
</script>


<script type="text/template" id="taskFilleAddForm-template">
    <hr>
    <h2>Přidat soubor k zadání</h2>
    <form enctype="multipart/form-data" action="<?php echo $basepath; ?>/api/files" method="post">
        <div class="row">
            <input type="hidden" name="task_id" value="<%=task.id%>">
            <!--<div class="col-xs-12 col-sm-3">-->
                <!--<div class="form-group">-->
                    <!--<label for="file_label">Název</label>-->
                    <!--<input type="text" class="form-control" id="file_label" name="filename">-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="file_name">Soubor</label>
                    <input type="file" class="form-control" id="file_name" name="uploads">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label for="file_type">Typ</label>
                    <select name="fileAddType" id="file_type" class="form-control">
                        <option value="normal">Normální</option>
                        <option value="etalon">Správné řešení VHDL</option>
                        <option value="test">Testovací VHDL</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button class="btn btn-block button--success">Nahrát soubor</button>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </form>
</script>



<script type="text/template" id="taskDetail-template">
    <h1>Zadání: <%=name%></h1>
    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <dl>
                <dt>Vytvořeno:</dt>
                <dd><%=created%></dd>
            </dl>
        </div>
        <!--<div class="col-xs-12 col-sm-4">-->
            <!--<dl>-->
                <!--<dt>Soubor správného řešení:</dt>-->
                <!--</dd>-->
            <!--</dl>-->
        <!--</div>-->
        <!--<div class="col-xs-12 col-sm-4">-->
            <!--<dl>-->
                <!--<dt>Testovací soubor:</dt>-->
                <!--</dd>-->
            <!--</dl>-->
        <!--</div>-->
        <div class="col-xs-12">
            <dl>
                <dt>Zadání:</dt>
                <dd><%=description%></dd>
            </dl>
        </div>
        <!--TODO: -->

    </div>
</script>

<script type="text/template" id="taskForm-template">
    <h1><%-title%></h1>
    <form action="#">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label for="task_name">Název zadání</label>
                    <input type="text" class="form-control" id="task_name" placeholder="Název zadání"
                           value="<%=model.name%>">
                </div>
                <div class="form-group">
                    <label for="task_entity">Název Entity <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Jak se má entita jmenovat pro potřebu simulace."></i></label>
                    <input type="text" class="form-control" id="task_entity" placeholder="HomeWork" required="required"
                           value="<%=model.entity%>">
                </div>
                <div class="form-group">
                    <label></label>
                    <button class="btn btn-block button--success">Vytvořit úlohu</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="form-group">
                    <label for="task_description">Zadání</label>
                    <textarea class="form-control" rows="5" id="task_description" placeholder="Detailní popis zadání"><%=model.description%></textarea>

                </div>
            </div>
        </div>
    </form>
</script>


<script type="text/template" id="taskEditForm-template">
    <h1><%-title%></h1>
    <form action="#">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label for="task_name">Název</label>
                    <input type="text" class="form-control" id="task_name" placeholder="Název zadání"
                           value="<%=model.name%>">
                </div>
                <div class="form-group">
                    <label for="task_entity">Název Entity <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Jak se má entita jmenovat pro potřebu simulace."></i></label>
                    <input type="text" class="form-control" id="task_entity" placeholder="HomeWork" required="required"
                           value="<%=model.entity%>">
                </div>
                <div class="form-group">
                    <label></label>
                    <button class="btn btn-block button--success">Uložit změny</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="form-group">
                    <label for="task_description">Popis</label>
                    <textarea class="form-control" rows="5" id="task_description" placeholder="Detailní popis"><%=model.description%></textarea>

                </div>
            </div>
        </div>
    </form>
</script>

<!--<script type="text/template" id="homeworkDetail-template">-->
    <!--<h1>Zadání: <%=name%></h1>-->
    <!--<div class="row">-->

        <!--<div class="col-xs-12 col-sm-4">-->
            <!--<dl>-->
                <!--<dt>Vytvořeno:</dt>-->
                <!--<dd><%=created%></dd>-->
            <!--</dl>-->
        <!--</div>-->
        <!--<div class="col-xs-12">-->
            <!--<dl>-->
                <!--<dt>Zadání:</dt>-->
                <!--<dd><%=description%></dd>-->
            <!--</dl>-->
        <!--</div>-->

    <!--</div>-->
<!--</script>-->