.button {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-decoration: none;
  border: 0;
  color: inherit;
  transition: all .3s;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: inherit;
    transform: scale(1.05);
  }
  &:active {
    text-decoration: none;
    color: inherit;
    transform: scale(0.95);
  }

  &--primary, &-primary {
    background: $accent;
    color: $accent-compl;
    &:hover, &:active, &:focus {
      color: $accent-compl;
    }
  }
  &--success, &-success {
    background: $success;
    color: $success-compl;
    &:hover, &:active, &:focus {
      color: $success-compl;
    }
  }
  &--default {
    background: $alt;
    color: $alt-compl;
    &:hover, &:active, &:focus {
      color: $alt-compl;
    }
  }
}


.btn-primary {
  color: #fff;
  background-color: $accent;
  border-color: darken($accent,0.1);
  &:hover, &:active, &:focus {
    background-color: $accent;
    border-color: darken($accent,0.1);
    transform: scale(1.05);
  }
}