


$accent: #F58220;
$accent-compl: #fff;

$green: #66cc00;
$success: #66cc00;
$success-compl: #fff;

$light: #fff;
$light-compl: #000;

$dark: #212121;
$dark-compl: #fff;



$bar-bg: #ccc;
$bar-text: #212121;

$paper-bg: #eee;

$alt: #3f3f3f;
$alt-compl: #ffffff;

$activeWire: #F58220;
$invalidWire: #e1092d;