.button {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-decoration: none;
  border: 0;
  color: inherit;
  transition: all .3s; }
  .button:hover, .button:active, .button:focus {
    text-decoration: none;
    color: inherit;
    transform: scale(1.05); }
  .button:active {
    text-decoration: none;
    color: inherit;
    transform: scale(0.95); }
  .button--primary, .button-primary {
    background: #F58220;
    color: #fff; }
    .button--primary:hover, .button--primary:active, .button--primary:focus, .button-primary:hover, .button-primary:active, .button-primary:focus {
      color: #fff; }
  .button--success, .button-success {
    background: #66cc00;
    color: #fff; }
    .button--success:hover, .button--success:active, .button--success:focus, .button-success:hover, .button-success:active, .button-success:focus {
      color: #fff; }
  .button--default {
    background: #3f3f3f;
    color: #ffffff; }
    .button--default:hover, .button--default:active, .button--default:focus {
      color: #ffffff; }

.btn-primary {
  color: #fff;
  background-color: #F58220;
  border-color: #f58220; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #F58220;
    border-color: #f58220;
    transform: scale(1.05); }

html,
body,
.full-screen {
  height: 100%; }

body {
  position: relative;
  margin: 0; }

.notif {
  position: absolute; }

.page_wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%; }
  .page_wrap > * {
    flex: 0 0 auto; }

.center_wrap {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;
  height: 100%; }
  .center_wrap > * {
    flex: 0 0 auto; }

.main_bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  background: #ccc;
  z-index: 99;
  min-height: 32px; }
  .main_bar__menu {
    background: #F58220;
    color: #fff;
    padding: 0 0.5em;
    line-height: 32px;
    text-align: center;
    min-width: 60px;
    vertical-align: middle; }
  .main_bar__btn {
    background: #212121;
    color: #fff;
    padding: 0 0.5em;
    line-height: 32px;
    text-align: center;
    min-width: 60px;
    vertical-align: middle; }
    .main_bar__btn--primary {
      background: #F58220;
      color: #fff; }
  .main_bar__usermenu {
    position: relative;
    background: #212121;
    color: #fff;
    display: flex;
    flex-direction: row-reverse; }
    .main_bar__usermenu__item {
      min-width: 60px;
      padding: 0 0.8em;
      position: relative;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      line-height: 32px; }
    .main_bar__usermenu .menuitemsContainer {
      position: absolute;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      right: 0;
      min-width: 100%;
      padding: 10px;
      background: #212121;
      z-index: 49; }
      .main_bar__usermenu .menuitemsContainer a {
        display: block;
        white-space: nowrap; }
  .main_bar .schema_list {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .main_bar .schema_list__items {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap-reverse;
      display: flex;
      align-items: flex-end; }
    .main_bar .schema_list__item {
      cursor: pointer;
      position: relative;
      display: block;
      margin: 0;
      border-top: 3px solid #ffffff;
      line-height: 29px;
      min-height: 32px;
      padding: 0 10px;
      background-color: #fff;
      color: #000;
      vertical-align: bottom;
      overflow: hidden;
      transition: all 300ms;
      box-sizing: border-box;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */ }
      .main_bar .schema_list__item:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 0;
        background: #F58220;
        transition: all 300ms; }
      .main_bar .schema_list__item:hover, .main_bar .schema_list__item:active, .main_bar .schema_list__item:focus {
        background-color: #F58220;
        color: #fff; }
      .main_bar .schema_list__item.active {
        border-top-color: #F58220; }
    .main_bar .schema_list__add {
      text-decoration: none;
      height: 25px;
      width: 25px;
      min-width: 25px;
      display: block;
      text-align: center;
      line-height: 25px;
      background-color: #F58220;
      color: #fff;
      margin: 3px 5px;
      border-radius: 50%;
      font-weight: bold;
      font-size: 30px;
      cursor: pointer; }

.main_content {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto; }
  .main_content__container {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto; }

.paper_container.dragover {
  outline: inset dashed 2px #66cc00; }

text {
  stroke: transparent; }

.joint-element.live .entitybody {
  stroke: #F58220; }

.joint-element.running .label {
  fill: #F58220; }

.ribbon {
  display: flex;
  width: 300px;
  flex-direction: column;
  border-right: solid 3px #ccc; }
  .ribbon .ribbon__toggle__show {
    display: none; }
  .ribbon .ribbon__toggle__hide {
    display: inline-block; }
  .ribbon--hidden {
    width: 32px; }
    .ribbon--hidden .ribbon__contents {
      display: none; }
    .ribbon--hidden .ribbon__toggle__show {
      display: inline-block; }
    .ribbon--hidden .ribbon__toggle__hide {
      display: none; }
  .ribbon__toggle {
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    height: 24px; }
    .ribbon__toggle:hover {
      background: #ccc; }
  .ribbon__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    align-items: flex-start; }
    .ribbon__menu__item {
      padding: 0.2em 0.8em;
      background: #fff;
      color: #F58220;
      cursor: pointer; }
      .ribbon__menu__item:hover, .ribbon__menu__item:active, .ribbon__menu__item.active .ribbon__menu__item:focus {
        background-color: #F58220;
        color: #fff; }
  .ribbon__contents {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch; }
    .ribbon__contents__category {
      display: block; }
    .ribbon__contents__header {
      padding: 0.2em 0.8em;
      background: #fff;
      color: #F58220;
      cursor: pointer;
      display: block;
      font-weight: 900;
      text-transform: uppercase; }
      .ribbon__contents__header:hover, .ribbon__contents__header:active, .ribbon__contents__header.active .ribbon__contents__header:focus {
        background-color: #F58220;
        color: #fff; }
    .ribbon__contents__items {
      width: auto;
      padding: 5px 0px; }
      .ribbon__contents__items p {
        padding: 2px 10px; }
      .ribbon__contents__items .entity {
        cursor: pointer;
        padding: 2px 10px; }
        .ribbon__contents__items .entity:hover {
          background: #212121;
          color: #fff; }
        .ribbon__contents__items .entity .disabled {
          color: #fff;
          background: #7a7a7a; }
          .ribbon__contents__items .entity .disabled:hover {
            background: #7a7a7a;
            color: #fff; }
      .ribbon__contents__items--hidden {
        display: none;
        overflow: hidden; }

.page_footer {
  padding: 0.2em;
  background: #ccc;
  color: #212121;
  text-align: center; }

.paper_container {
  flex: 1;
  background: #eee;
  overflow: auto;
  min-height: 300px;
  min-width: 300px; }

dl {
  margin-top: 1em; }

.clearfix {
  clear: both; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.center {
  display: flex; }
  .centerred {
    margin: auto; }

.joint-link.live > .connection {
  stroke: #F58220;
  stroke-width: 3px; }

.live .connection-wrap {
  stroke: #F58220; }

.joint-element.live .body {
  fill: #F58220;
  stroke: #f58220; }

.joint-link.invalid > .connection {
  stroke: #e1092d;
  stroke-width: 3px; }

.invalid .connection-wrap {
  stroke: #e1092d; }

.joint-element.invalid .body {
  fill: #e1092d;
  stroke: #e1092d; }
